.navbar-brand img {
  height: 100%;
}

.navbar-default .navbar-nav>li>a {
  color: #031b4e; /*dark blue*/
}

.navbar-nav {
  margin-left: 80px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding-left: 5px;
    padding-right: 10px;
}

/*non riesco a mettere il colore del font blue sign up*/
.my-btn-default {
  color: #006AFF!important; /*blue sign up*/
  border: 2px solid #006AFF; /*blue sign up*/
  border-radius: 7px;
  padding: 8px 10px;
}


#jumbotron {
  background-image: url("../img/bg-sea.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
