.navbar-brand img {
  height: 100%;
}

.navbar {
  margin-bottom: 0;
}
.navbar-default .navbar-nav>li>a {
  color: #031b4e; /*dark blue*/
}

.navbar-nav {
  margin-left: 80px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding-left: 5px;
    padding-right: 10px;
}

.my-btn-default {
  color: #006AFF!important; /*blue sign up*/
  border: 2px solid #006AFF; /*blue sign up*/
  border-radius: 7px;
  padding: 0px 0px;
}

main {
  font-family: 'Inter', sans-serif;
}

#jumbotron {
  background-image: url("../img/bg-sea.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Inter', sans-serif;
  padding-bottom: 50px;
}

#jumbotron h1 {
  margin-top: 60px;
  font-size: 60px;
  font-weight: bold;
}

#jumbotron p {
  margin-top: 20px;
  font-size: 20px;
}
.text-white {
  color: #fff;
}

.text-blue {
  color: #006AFF;  /*blue sign up*/
}

.text-blue-dark {
  color: #031b4e; /*dark blue*/
}

@media all and (min-width: 768px) {
  .navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
  }
}

.card {
  background-color: #fff;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
  border-radius: 5px;
}

.card h2 {
  font-weight: bold;
}

form {
  padding-bottom: 10px;
}
.form-group {
    margin-bottom: 0px;
}

.mt-20 {
  margin-top: 20px;
}

.my-btn-create {
  background-color: #579AFF!important; /*blue light*/
  color: #fff;
  border: 2px solid #579AFF; /*blue light*/
  border-radius: 7px;
  width: 100%;
  margin-bottom: 10px;
}

.my-btn-google {
  color: #626262;
  border: 2px solid #626262;
  box-shadow: 2px;
  border-radius: 7px;
  width: 100%;
}

.my-btn-google img {
  float: left;
  height: 20px;
}

.card p {
  margin-top: 5px!important;
  font-size: 15px!important;
}

.logos {
  background-color: #F3F5F9; /*light grey*/
  padding-top: 20px;
  padding-bottom: 25px;
}

.logos h5 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: #6F7B97; /*grey dark text*/
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  height: 100%;
}

.small-link a {
  font-weight: bold;
  text-decoration: none;
}

.small-link a:hover,
.small-link a:active {
  text-decoration: none;
}

.deploy {
  padding-top: 30px;
  padding-bottom: 20px;
}

.deploy p {
  color: #6F7B97; /*grey dark text*/
}

.paragraph-main {
  font-size: 20px;
  color: #6F7B97; /*grey dark text*/
  margin-bottom: 55px;
}

.remove-marker {
  text-align: left;
  color: #6F7B97; /*grey dark text*/
  font-size: 18px;
  font-weight: 500;
  list-style-type: none;
  margin: 0;
  padding: 0px;
}

.remove-marker li {
  border-left: 1px solid #6F7B97; /*grey dark text*/
  padding: 5px 5px;
}
